@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --font-style: 'Montserrat', sans-serif;
    --primary-color: #5b21b6;
    --seconday-color: #1f2937;
    --text-color: white;
}

body {
    font-family: var(--font-style);
    margin: 0px;
    background-color: var(--seconday-color);

}

.nav-bar {
    background-color: var(--primary-color);
    padding: 1rem;
}

.nav-bar a {
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    text-align: left;
    font-size: medium;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    color: var(--text-color);
    padding: 1.5rem;
}

#header {
    text-align: center;

}


.container label {
    margin: 0.5rem 0rem;
    text-align: left;

}

.container input {
    padding: 0.5rem 0.5rem;
    font-family: var(--font-style);
    font-weight: bold;
    margin-bottom: 1rem;

}


#btn-isTriangle, #submit-answer-btn, #btn-hypotenuse, #btn-area{

    margin: 1rem auto;
    width: 100%;
    padding: 0.5rem;
    font-size: medium;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 0.2rem;
}

#output, #output-quiz, #output-hypotenuse, #output-area {
    margin: 1rem auto;
    color: var(--text-color);
    text-align: center;
    font-weight: bold;

}


.question-container {
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem auto;
}


.formula-container {
    border: 2px solid var(--primary-color);
    padding: 1rem;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 0.5rem 0rem;
}